<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Continuous.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37EF61781C45B539004A8C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37EF618E1C45B53A004A8C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37EF61991C45B53A004A8C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
